{% extends 'base.html' %}

{% block meta %}
    <title>Profile</title>

    <style>
        #border-personal{
            background-color: white;
            margin-left: 20%;
            margin-right: 20%;
        }

    </style>
{% endblock meta %}

{% block content %}
    <div class="container-flow">
        <form method="POST">
            {% csrf_token %}g
            <div class="content-section">
                <div class="mx-auto mt-5">
                    <div class="border border-primary rounded-4" id="border-personal">
                        <div class="row my-3 ms-4">
                            <div class="col-9">
                                <a href="{% url 'main:show_main' %}" style="text-decoration: none; font-size: 130%;">
                                    <i class="bi bi-arrow-left"></i>
                                    Home
                                </a>
                            </div>
                            <div class="col ms-4">
                                <a href="{% url 'user-review' %}" style="text-decoration: none; font-size: 130%; text-align: right;">
                                    See your reviews
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <h4 class="personal-info my-3 ms-5">User Info</h4>
    
                        <div class="row gx-5">
                            <div class="col">
                                <div class="form-group ms-5">
                                    <b>{{ user_form.username.label }}</b>
                                    {{ user_form.username }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group me-5">
                                    <b>{{ profile_form.email.label }}</b>
                                    {{ profile_form.email }}
                                </div>
                            </div>
                        </div>
    
                        <div class="row gx-5">
                            <div class="col">
                                <div class="form-group ms-5">
                                    <b>{{ profile_form.first_name.label }}</b>
                                    {{ profile_form.first_name }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group me-5">
                                    <b>{{ profile_form.last_name.label }}</b>
                                    {{ profile_form.last_name }}
                                </div>
                            </div>
                        </div>
        
                        <div class="row gx-5">
                            <div class="col">
                                <div class="form-group ms-5">
                                    <b>{{ profile_form.gender.label }}</b>
                                    {{ profile_form.gender }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group me-5">
                                    <b>{{ profile_form.phone_number.label }}</b>
                                    {{ profile_form.phone_number }}
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col" id="address">
                                <div class="form-group mx-5 mb-4">
                                    <b>{{ profile_form.address.label }}</b>
                                    {{ profile_form.address }}
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-3 mb-4">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" style="width: 80%;">Save Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}