{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Edit Product</title>

<style>
    body {
        background-color: #0DD8E9; /* blue color */
        color: black; /* Set text color to contrast background */
    }

    .edit-card {
        background-color: #fff; /* White background color */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin: 20px auto; /* Center the card horizontally */
        max-width: 600px; /* Limit the card width */
    }

    .edit-card h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .edit-card table {
        width: 100%;
    }

    .edit-card table tr td {
        padding: 10px 0;
    }

    .edit-card input[type="submit"] {
        background-color: #007BFF;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .edit-card input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="edit-card">
                <h1>Edit Product</h1>
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Edit Product"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
